.option{
    position: relative;
    margin: 0 auto;
    width: 510px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    border-color: #FFFFFF;
    border: none;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 3%;
    column-gap: 10px;
    cursor: pointer;

}

.option:hover{
    background: #ebe7ee;

}

.label-q{
    background: #E1DEE5;
    padding: max(0.8%, 0.8vw);
    margin-left: 2%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: "League Spartan";
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.questions{
    position:absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    font-family: "League Spartan";
    
}

.quiz{
    opacity: 0.5;
    border-radius: 8px;
    position: relative;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    
    border: none;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    margin-top: 5%;
    justify-content: center;
}

.quiz:disabled{
    color: #FFFFFF;
    background: #747475;
}


.quiz:enabled{
    background: #4C539C;
    opacity: 0.5;
    color: #FFFFFF;
    cursor: pointer;
}

.quiz:enabled:hover{
    background: #4C539C;
    opacity: 1;
    color: #FFFFFF;
    cursor: pointer;
}